<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <div class="row justify-content-around margin-tp-2">
      <div class="card width-40">
        <%= image_tag(user.photo, alt: 'User Photo') if user.photo.present? %>
      </div>
      <div class="card width-60 align-items-baseline gap-2 card-padding-10">
        <h2><%= user.name %></h2>
        <div class="row align-self-stretch">
          <p class="d-flex justify-content-end align-items-end">Number of posts <%= user.posts.count %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row col-6 mx-auto mt-3">
  <% if @users.present? %>
    <%= link_to new_user_post_path(@users.first), class: 'btn btn-primary' do %>
      Add Post
    <% end %>
  <% end %>
</div>